<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/resultado">
        N = m/M
        <input type="number" name="massa" id="massa">
        <input type="number" name="massaM" id="massaM">
        <input type="submit" value="Resultado">
    </form>
    <p id="result">...</p>
</body>
</html>